* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.png binary
*.icns binary
*.ico binary
*.wav binary
*.onnx binary
*.joblib binary
*.dylib binary
*.so binary
*.exe binary
